h1 {
  font-size: 32px;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: #595959;
  font-size: 50px;
  color: black;
  size: 100px;
}
#chestDiv {
  position: fixed;
  top: 90px;
  left: 800px;
}

#coins {
}
